.draggableResizable {
    width: 800px;
    height: 50px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight:bold;
    text-align:center;
    font-size:300%;
}
body {
    min-width: 150px;
}
