<!doctype html>
<html>
  <head>
    <title>Subtle Subtitles Popup</title>
    <link rel="stylesheet" type="text/css" href="../css/style.external.dist.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/requirements.dist.js"></script>
    <script src="../js/require.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/dropzone.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <ul class="nav nav-pills nav-stacked">
          <li id="start-subtitles"><a href="javascript:void(0)">Start Subtitles</a></li>
          <li id="upload-subtitles"><a href="javascript:void(0)">Upload Subtitles</a></li>
          <li><a href="javascript:void(0)">Speed Up</a></li>
          <li><a href="javascript:void(0)">Slow Down</a></li>
          <li><a href="javascript:void(0)">Font Settings</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>

